.navigation-container1 {
  display: contents;
}
 
.navigation-navigationtoggle-icon {
  display: block;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
